.required_label:after {
    content: '*';
    color: red;
    padding-left: 5px;
} 

.error {
    font-size: 12px;
    color: red;
} 

.block.full table > thead > tr > th, .block.full table > thead > tr > th > a {
	color: #141414;
	font-size: 16px;
}

.block.full .pagination {
	width: 100%;
	display: inline-block;
	background-color: #efefef;
	padding: 7px 0px;
}

.block.full .pagination > li > a {
	color: #141414;
}

.block.full .pagination > li > a:hover {
	color: #fff;
}


/**  loader css*/

    .loading-cntant {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    text-align: center;
    display: table;
   // background: url(../img/rsz_logo.gif) no-repeat center center rgba(0, 0, 0, 0.95);
    z-index: 99999;
}
.loader {
    margin: auto;
    font-size: 10px;
    position: absolute;
    text-indent: -9999em;
    border-top: 8px solid rgba(255, 255, 255, 0.70);
    border-right: 8px solid rgba(255, 255, 255, 0.70);
    border-bottom: 8px solid rgba(255, 255, 255, 0.70);
    border-left: 8px solid #245571  ;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    display: table-cell;
    vertical-align: middle;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
