
/* main css written by : Vishvendra Singh Choudhary */

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Medium.eot');
    src: url('../font/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-Medium.woff2') format('woff2'),
        url('../font/Poppins-Medium.woff') format('woff'),
        url('../font/Poppins-Medium.ttf') format('truetype'),
        url('../font/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../font/NunitoSans-SemiBold.eot');
    src: url('../font/NunitoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/NunitoSans-SemiBold.woff2') format('woff2'),
        url('../font/NunitoSans-SemiBold.woff') format('woff'),
        url('../font/NunitoSans-SemiBold.ttf') format('truetype'),
        url('../font/NunitoSans-SemiBold.svg#NunitoSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Regular.eot');
    src: url('../font/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-Regular.woff2') format('woff2'),
        url('../font/Poppins-Regular.woff') format('woff'),
        url('../font/Poppins-Regular.ttf') format('truetype'),
        url('../font/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../font/NunitoSans-Light.eot');
    src: url('../font/NunitoSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/NunitoSans-Light.woff2') format('woff2'),
        url('../font/NunitoSans-Light.woff') format('woff'),
        url('../font/NunitoSans-Light.ttf') format('truetype'),
        url('../font/NunitoSans-Light.svg#NunitoSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-SemiBold.eot');
    src: url('../font/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-SemiBold.woff2') format('woff2'),
        url('../font/Poppins-SemiBold.woff') format('woff'),
        url('../font/Poppins-SemiBold.ttf') format('truetype'),
        url('../font/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../font/NunitoSans-Bold.eot');
    src: url('../font/NunitoSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/NunitoSans-Bold.woff2') format('woff2'),
        url('../font/NunitoSans-Bold.woff') format('woff'),
        url('../font/NunitoSans-Bold.ttf') format('truetype'),
        url('../font/NunitoSans-Bold.svg#NunitoSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../font/NunitoSans-Regular.eot');
    src: url('../font/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/NunitoSans-Regular.woff2') format('woff2'),
        url('../font/NunitoSans-Regular.woff') format('woff'),
        url('../font/NunitoSans-Regular.ttf') format('truetype'),
        url('../font/NunitoSans-Regular.svg#NunitoSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Bold.eot');
    src: url('../font/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-Bold.woff2') format('woff2'),
        url('../font/Poppins-Bold.woff') format('woff'),
        url('../font/Poppins-Bold.ttf') format('truetype'),
        url('../font/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* .font1{font-family: "Nunito Sans";} */
.font2{font-family: "Poppins";}

::selection {
  color: #fff;
  background: #ee8c3a;
}

::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #ee8c3a;
}

*,*:before,*:after{box-sizing: border-box;}
body{font-family: "Nunito Sans";margin: 0;padding: 0;font-size: 14px;}
button, input, optgroup, select, textarea {font-family: 'Nunito Sans' !important;font-size: 100%;line-height: 1.15;margin: 0;}
button{cursor: pointer;transition: all 0.5s;}
button:hover {	background: #fff;color: #39c4ef;}

/* anchor tag style */
a{color:#202020;margin: 0;padding: 0;outline: none;transition: all 0.5s;}
a:hover {color:#39c4ef;text-decoration: none;}

/* input style */
input[type="text"],input[type="submit"]{-webkit-appearance: none;-moz-appearance: none;appearance: none;outline: none;}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;margin: 0;}

/* Select style */
select{-webkit-appearance: none;-moz-appearance: none;appearance: none;outline: none;background: url(../images/down-arrow.png) no-repeat center right 15px;border: none;padding-right: 15px;}

/* buttons style */
.lg-btn{border: none;color: #fff;text-align: center;font-size: 24px;margin: 0;padding: 14px 40px;display: inline-block;}
.md-btn{border: none;color: #fff;text-align: center;font-size: 20px;margin: 0;padding: 12px 28px;display: inline-block;}
.sm-btn{border: none;color: #fff;text-align: center;font-size: 16px;margin: 0;padding: 10px 14px;display: inline-block;}
.xs-btn{border: none;color: #fff;text-align: center;font-size: 12px;margin: 0;padding: 10px;display: inline-block;}
.disabled-btn {border: none;color: #fff;text-align: center;font-size: 24px;margin: 0;padding: 14px 40px;display: inline-block;opacity: 0.6;cursor: not-allowed;}

/* ul style */
ul, ol{padding: 0;margin: 0;list-style: none;}

/* Font Family */
.font1{font-family: 'Nunito Sans';}

/* Font size */
.font10{font-size: 10px;}
.font11{font-size: 11px;}
.font12{font-size: 12px;}
.font13{font-size: 13px;}
.font14{font-size: 14px;}
.font15{font-size: 15px;}
.font16{font-size: 16px;}
.font17{font-size: 17px;}
.font18{font-size: 18px;}
.font19{font-size: 19px;}
.font20{font-size: 20px;}
.font21{font-size: 21px;}
.font22{font-size: 22px;}
.font23{font-size: 23px;}
.font24{font-size: 24px;}
.font25{font-size: 25px;}
.font26{font-size: 26px;}
.font27{font-size: 27px;}
.font28{font-size: 28px;}
.font29{font-size: 29px;}
.font30{font-size: 30px;}
.font35{font-size: 35px;}
.font36{font-size: 36px;}
.font60{font-size: 60px;}
.font100{font-size: 100px;}

/* font weight */
.fontNormal{font-weight: 400;}
.fontMedium{font-weight: 500;}
.fontSemiBold{font-weight: 600;}
.fontBold{font-weight: 700;}

/* background-images */
.allinone{background-image: url("../images/css_sprites.png");background-repeat: no-repeat;position: relative;display: inline-block;}
.allinone.logo {width: 110px;height: 110px;background-position: -9px -9px;}
.allinone.fb {width: 30px;height: 30px;background-position: -352px -115px;}
.social ul li:hover .allinone.fb {background-position: -352px -65px;}
.allinone.twit {width: 30px;height: 30px;background-position: -291px -231px;}
.social ul li:hover .allinone.twit {background-position: -352px -265px;}
.allinone.linke {width: 30px;height: 30px;background-position: -352px -215px;}
.social ul li:hover .allinone.linke {background-position: -352px -165px;}
.allinone.map {width: 17px;height: 20px;background-position: -85px -349px;}
.allinone.phone {width: 18px;height: 18px;background-position: -257px -194px;}
.allinone.mail {width: 17px;height: 13px;background-position: -352px -315px;}

/* background colors */
.bgWhite{background: #fff;}
.bgBlack{background: #000;}
.bg28{background: #282828;}
.bg26{background: #262626;}
.bgTheme{background: #ff4f51;}
.bgf7{background: #f7f7f7;}
.bgNone{background: transparent;}

/* colors */
.colorWhite{color: #fff;}
.colorBlack{color: #000;}
.color20{color: #202020;}

/* borders */
.border1{border: 1px solid #ff4f51;}
.border2{border: 1px solid #b7b7b733;}
.borderBottom1{border-bottom: 1px solid #b7b7b7;}
.borderNone{border: none;}
.borderTop1{border-top: 1px solid #ccc;}
.borderTop2{border-top: 1px solid #cccccc75;}
.borderBottom2{border-bottom: 1px solid #cccccc75;}
.borderRight1{border-right: 1px solid #cccccc75;}

/* Gradoient Border */

.gradBorder{background: rgba(38,38,38,1);
    background: -moz-linear-gradient(left, rgba(38,38,38,1) 0%, rgba(255,79,82,1) 50%, rgba(38,38,38,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(38,38,38,1)), color-stop(50%, rgba(255,79,82,1)), color-stop(100%, rgba(38,38,38,1)));
    background: -webkit-linear-gradient(left, rgba(38,38,38,1) 0%, rgba(255,79,82,1) 50%, rgba(38,38,38,1) 100%);
    background: -o-linear-gradient(left, rgba(38,38,38,1) 0%, rgba(255,79,82,1) 50%, rgba(38,38,38,1) 100%);
    background: -ms-linear-gradient(left, rgba(38,38,38,1) 0%, rgba(255,79,82,1) 50%, rgba(38,38,38,1) 100%);
    background: linear-gradient(to right, rgba(38,38,38,1) 0%, rgba(255,79,82,1) 50%, rgba(38,38,38,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#262626', GradientType=1 );}

/* Raidus */
.radius50{border-radius: 50px;}

/* Hover Effects */

.hover1:hover{box-shadow: inset 0 50px 0 rgba(0,0,0,0.5);color: #fff;}

/* placeholder color change */
::-webkit-input-placeholder {color:#555;}/* Chrome/Opera/Safari*/
::-moz-placeholder {color: #555;}/* Firefox 19+*/
:-ms-input-placeholder {color: #555;}/* IE 10+*/
:-moz-placeholder {color: #555;}/*Firefox 18-*/

/* image style */
img{max-width: 100%;}

/* Letter Spacing */
.leterSpace0-6{letter-spacing: 0.6px;}
.leterSpace1 {letter-spacing: 1px;}

/* Height */

.height50{height: 50px;}




.navs-in{webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-flow: row nowrap;flex-flow: row nowrap;-webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start;}
.nav-wraper{position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.links-controls{display: flex;display: -webkit-flex;display: -moz-flex;}
.links-controls > li{margin:0 13px;padding: 28px 0;}
.links-controls > li:last-child{margin-right: 0;padding: 0;align-self: center;}
.links-controls > li a{position: relative;padding: 8px 2px;font-weight: normal;color: #202020;font-size: 18px;}
.links-controls > li a:after, .fser-content ul li a:after{background: #ee8c3a;position: absolute;content: '';width: 0;height: 2px;bottom: 0;right: 0;transition: width 0.4s;-webkit-transition: width 0.4s;}
.links-controls > li a:hover::after, .fser-content ul li a:hover::after{width: 100%;left: 0;right: auto;}
.links-controls > li a.active::after{width: 100%;left: 0;right: auto;} 
.links-controls > li a.active{color: #ee8c3a;}
.links-controls > li a:hover{color: #ee8c3a;}
.links-controls li{position: relative;}
.sub-menus{position: absolute;background: #fff;z-index: 99;width: 280px;top: 100%;transform: scaleY(0);transform-origin: top;transition: all 0.4s;}

.links-controls li:hover .sub-menus{transform:scaleY(1);}
.sub-menus li a{transition: all 0.4s;}
.sub-menus li{padding: 10px 15px;border-bottom: 1px solid #d7d7d7;position: relative;z-index: 1;}
.sub-menus li:last-child{border-bottom: none;}
.sub-menus li:after{position: absolute;width: 100%;height: 100%;content: '';background: #735651;left: 0;top: 0;z-index: -1;transform-origin: left;transform: scaleX(0);transition: all 0.4s;}
.sub-menus li:hover::after{transform: scaleX(1);}
.sub-menus li:hover a{color: #fff;}
.bars{display: none;}
.close{display: none;}
.shrink {transition: width 0.4s;position: fixed;transition: all 0.4s;background: #fff;top: 0;z-index: 999;box-shadow: 0px 0px 3px #000;}
#header{width: 100%;}
.shrink .brand img{width: 75px;transition: width 0.2s;}
.shrink .links-controls > li {padding: 20px 0;}
.user-name  ul  li  a .fa-user, .user-name  ul  li  a .fa-bell{font-size: 18px;color: #ee8c3a;}
.homeheader li{position: relative;line-height: 15px;padding: 0 10px;}
.homeheader li:after{height: 100%;width: 2px;background: #202020;position: absolute;content: '';right: -2px;}
.homeheader li:last-child::after{display: none;}
.homeheader li a{cursor: pointer;}
.homeheader li a:hover{color: #39c3ef !important;}




/* ----------------------------------------------------------------Header-------------------------------------------------------------------------- */
/* .navBar ul li a {font-size: 18px;color: #202020;position: relative;}
.navBar ul li:hover a, .signupBlock a:hover{color: #39c4ef;}
.navBar ul li a::after {content: "";position: absolute;border-bottom: 2px solid #ec8d3b;width: 60%;left: 50%;bottom: 5px;transform: translateX(-50%);transition: all 0.5s;opacity: 0;}
.navBar ul li:hover a::after{opacity: 9;bottom: -10px;}
.signupBlock a {font-size: 18px;color: #202020;}
.signLink::after {content: "";position: absolute;border-right: 1px solid #202020;height: 70%;top: 3px;right: 5px;}
.signLink {position: relative;padding-right: 10px;}
.menuToggle {position: absolute;top: 50px;left: 15px;}
.fa-navicon::before, .fa-reorder::before, .fa-bars::before {font-size: 24px;color: #ed8c3b;} */

/* ----------------------------------------------------------------------Footer----------------------------------------------------------------------- */

.foterBg{background-image: url(../images/home/footer-banner.jpg);background-repeat: no-repeat;background-position: top center;background-size: cover;}
.footerTitle::after {content: "";position: absolute;border-bottom: 1px solid #ef8c3b;width: 30px;left: 0;bottom: 0;}
.footerTitle {position: relative;}
.cmsPages li {width: 50%;float: left;margin-bottom: 16px;}
.cmsPages li a {color: #fff;font-size: 18px;}
.cmsPages li:hover a{color: #39c4ef;}
.gradLine{position: relative;}
.gradLine::after {content: "";position: absolute;
background: rgba(132,90,54,1);
background: -moz-linear-gradient(left, rgba(132,90,54,1) 0%, rgba(238,139,58,1) 50%, rgba(132,90,54,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(132,90,54,1)), color-stop(50%, rgba(238,139,58,1)), color-stop(100%, rgba(132,90,54,1)));
background: -webkit-linear-gradient(left, rgba(132,90,54,1) 0%, rgba(238,139,58,1) 50%, rgba(132,90,54,1) 100%);
background: -o-linear-gradient(left, rgba(132,90,54,1) 0%, rgba(238,139,58,1) 50%, rgba(132,90,54,1) 100%);
background: -ms-linear-gradient(left, rgba(132,90,54,1) 0%, rgba(238,139,58,1) 50%, rgba(132,90,54,1) 100%);
background: linear-gradient(to right, rgba(132,90,54,1) 0%, rgba(238,139,58,1) 50%, rgba(132,90,54,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#845a36', endColorstr='#845a36', GradientType=1 );
width: 100%;
bottom: 0;
left: 0;
height: 1px;
}

/* --------------------------------------------------------------------------banner-part------------------------------------------------------------------ */

.bnr-ttle{font-size: 65px;color: #fff;font-weight: 600; }
.banner-title {position: absolute;top: 40%;left: 0;right: 0;text-align: center;margin: 0 auto;transform: translateY(-50%);}
.overlay{background: rgba(0, 0, 0, 0.6);width: 100%;height: 100%;position: absolute;top: 0;}
.btn-one{text-align: center;z-index: 1;background: #39c3ef;width:200px;height: 50px;margin:0 auto;line-height: 50px;color: #fff;font-weight: 600;text-transform: uppercase;display: inline-block;text-decoration: none;transition: all 0.4s;position: relative;}
.btn-one:before{z-index: -1;position: absolute;width: 100%;height: 100%;content: '';background: #ee8c3a;transition:all 0.4s;transform: scaleX(0);transform-origin: top;top:0;left: 0;}
.btn-one:hover{color: #fff !important;}
.btn-one:hover::before{transform: scaleX(1);}
.carousel-indicators li {width: 10px;height: 10px;border-radius: 50%;opacity: 1;margin-left: 5px;margin-right: 5px;}
.carousel-indicators .active {background-color: #39c3ef;}
.carousel-indicators {bottom: 142px;}
.banner-title-inner p{margin-bottom: 60px;}
.bet-one {width: 57px;height: 53px;background-position: 38% -136px;}
.bet-two {width: 51px;height: 53px;background-position: 3% -228px;}
.bet-three{width: 53px;height: 53px;background-position: 75% -122px;}
.content-btm p{color:#3a3a3a;}
.up-section{margin-top: -100px;background: #fff;padding: 20px 35px 8px 35px;box-shadow: 0px 0px 20px #4645454d;padding: 35px 35px 15px 35px;}
.how-title h2{font-size: 45px;color: #202020;position: relative;}
.how-title h2:after{position: absolute;content:'';width: 80px;height: 1px;background: #ee8c3a;bottom: 0;left: 0;right: 0;margin: 0 auto;}
.h-one{width: 102px;height: 77px;background-position: 3% -136px;}
.h-two{width: 105px;height: 111px;background-position: 47% -8px;}
.h-three{width: 105px;height: 111px;background-position: 85% -8px;}
.no-circle ul{position: relative;}
.no-circle ul:before{width: 55%;border: 1px solid #d7d7d7;position: absolute;content: '';top: 50%;transform: translateY(-50%);}
.no-circle ul li {width: calc(100% / 3);text-align: center;position: relative;line-height: 35px;font-weight: 500;color: #000;font-size: 18px;}
.no-circle ul li:after {position: absolute;content: '';width: 30px;height: 30px;border-radius: 50px;border: 4px solid #d7d7d7;width: 35px;height: 35px;left: 0;right: 0;margin: 0 auto;}
.mid{position: relative;z-index: 1;}
.mid:before {width: 120px;height: 32px;background: #fff;position: absolute;content: '';top: 0;left: 0;right: 0;margin: 0 auto;z-index: -1;}
.how-img h4{font-size: 21px;color: #202020;padding: 15px 0;font-weight: 500;}
.btm-text p{color: #3a3a3a;font-weight: 400;}
.how-it-wrapper{padding: 70px 0 20px 0;}
.services-inner{-webkit-background-size: cover;background-size: cover;background-repeat: no-repeat;background-position: top center;position: relative;}
.services-inner .overlay{background: rgba(0, 0, 0, 0.8);}
.title-ser h4, .title-ser p{color: #fff !important;margin:0;}
.services-inner{padding: 50px 0 50px 0;}
.img-ser img{height: 46px;}
.content-btm, .title-ser, .btm-text{position: relative;}
.content-btm:after, .title-ser:after, .btm-text:after{position: absolute;left: -15px;height: 100%;width: 1px;background: #d7d7d7;content: '';top: 0;}
.up-section .col-md-4:first-child .content-btm::after{display: none !important;}
.services-inner .col-md-4:first-child .title-ser:after{display: none !important;}
.green{position: relative;width: 16%;height: 30px;background: #c2f2c5;border-radius: 50%;display: inline-block;}
.green:after{position: absolute;content: '';border: solid white;border-width: 0 3px 3px 0;width: 8px;height: 15px;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);left: 0;right: 0;margin: 0 auto;top: 6px;}
.red-cross{position: relative;width: 30px;height: 30px;background: #f2c2c2;border-radius: 50%;display: inline-block;text-align: center;line-height: 31px;font-weight: 600;font-size: 27px;color: #fff;}
.right-wrong li p{font-size: 18px;color: #3a3a3a;font-weight: 400;padding-left: 20px;}
.btm-text{padding-left: 45px;}
.btm-text:after {left: 0 !important;}
.bg-slider{background:#ebebeb;}
.name h3{color:#202020;font-weight: 500;margin:0;}
.name small{font-size: 14px;color: #5d5c5c;display: inline-block;position: relative;}
.content p{font-size: 16px;color: #3a3a3a;font-weight: 400; padding: 20px 0 30px ;}
.client-info {padding: 40px 1px 10px 18px;}
.name small:after {position: absolute;content: '';width: 50px;height: 1px;background: #ee8c3a;bottom: 0;left: 0;}
.feed-owl .owl-prev {position: absolute;left: -75px;top: 50%;transform: translateY(-50%);border: 1px solid #d7d7d7;width: 40px;height: 40px;}
.feed-owl .owl-next {position: absolute;right: -60px;top: 50%;transform: translateY(-50%);width: 40px;height: 40px;}
.feed-owl .owl-prev img, .feed-owl .owl-next img {width: 15px;}
.feedback-wrapper{padding: 70px 0 70px 0;}
.user-name li a{color: #202020;}
.user-name li a:hover {color:#ee8c3a;}
.ln-hei{line-height: 32px;}


/* --------------------------------------------------------------------------About-us------------------------------------------------------------------ */

.pagi-inner ul li a.active-pg{color: #ee8c3a;}
.pagi-inner{border: solid #ccc;border-width: 1px 0 1px 0;padding: 15px 0;}
.comman-t{position: relative;padding: 0 0 8px 0;}
.comman-t:after{background: #ee8c3a;position: absolute;content: '';width: 80px;height: 1px;bottom: 0;left: 0;transition: width 0.4s;-webkit-transition: width 0.4s;}
.the-facts{padding: 50px 0 0 0;}
.spcl-points li{position: relative;font-size: 18px;color: #3a3a3a;}
.spcl-points li:after{position: absolute;left: 0;width: 7px;height: 7px;background: #ee8c3a;border-radius: 50%;content: '';top: 10px;}
.spcl-points li{padding: 0 0 8px 20px;}
.spcl-points{padding: 26px 0 25px 0;}
.our-vision h4{color: #3a3a3a;}
.about-img-outer{position: absolute;right: -95px;width: 41%;top: 60px;}
.about-img{position: relative;z-index: 1;}
.about-img:after{position: absolute;content: '';width: 400px;height: 90px;background: #ee8c3a;right: -15px;bottom: -15px;z-index: -1;}
.about-wrapper{padding-bottom: 50px;}
.names small{color: #3a3a3a;}
.linkin{width: 30px;height: 30px;border-radius: 50%;border:1px solid #ccc;display: inline-block;line-height: 30px;text-align: center;color: #bdbdbd;}
.team-info{position: relative;}
.team-info img{position: relative;z-index: 1;}
.team-info:after{position: absolute;content: '';width: 315px;height: 90px;background: #ee8c3a;left: -15px;bottom: -15px;}
.our-team-wrapper{padding: 70px 0 70px 0;}

/* --------------------------------------------------------------------------Contact-Us------------------------------------------------------------------ */

.keep-line{position: relative;margin-bottom: 40px;}
.keep-line:after{position: absolute;content: '';width: 75px;height: 1px;background: #ee8c3a;left: 0;bottom: 0;}
.contact-details .form-control {height: calc(2.25rem + 10px);border-radius: 0;}
.contact-details input::placeholder{font-size: 18px;font-weight: 400;color: #b7b7b7;}
select{font-size: 18px !important;font-weight: 400 !important;color: #b7b7b7 !important;}
.form-control:focus {color: #495057;background-color: transparent;border-color: #ee8c3a;outline: 0;box-shadow: none;}
.con-btn{background: #735651;color: #fff;cursor: pointer;}
.keep-in-touch .btn-type{font-weight: 700;line-height: 48px;height: 48px;font-size: 15px;}
.corporate-office{padding-right: 47px;}
.corporate-office address{line-height: 35px;}
.contact-us-content .btn-one{outline: none;border:none;}
.info small{font-weight: 400;color: #3a3a3a;}
.icons{color: #39c3ef;}


/* --------------------------------------------------------------------------Management-page------------------------------------------------------------------ */

.manage-inner{-webkit-background-size: cover;background-size: cover;background-repeat: no-repeat;background-position: top center;}
.managemnt-chart{position: relative;}
.bgm{background-image: url('../images/icons-spm.png');-webkit-background-size: cover;
background-size: cover;background-repeat: no-repeat;display: flex;}
.m-one{width: 100px;height: 100px;background-position: 100% 0; margin: 0 auto;}
.m-two{width: 110px;height: 100px;background-position: 0% 0; margin: 0 auto;}
.m-three{width: 95px;height: 100px;background-position: 42% 0; margin: 0 auto;}
.m-four{width: 100px;height: 100px;background-position: 79% 0; margin: 0 auto;}
.m-five{width: 95px;height: 100px;background-position: 23% 0;margin: 0 auto;}
.m-six{width: 75px;height: 100px;background-position: 60% 0;margin: 0 auto;}
.p-one{position: relative;top: 80%;}
.mid-mngmnt-img img{width: 550px;}
.p-two{position: relative;top: 80%;}
.p-btmt{position: relative;bottom: 80%;}
.p-btm{position: relative;bottom: 115%;}
.help-facts h5{color: #3a3a3a;}
.help-facts .spcl-points {padding: 20px 0 15px 0;}
.help-facts p{color: #3a3a3a;}
.mngment{padding: 0 0 50px 0;}


/* --------------------------------------------------------------------------My-Profile-page------------------------------------------------------------------ */

.services-wrp .nav-pills{border:1px solid #d7d7d7;}
.services-wrp .nav-link{padding:13px 15px;font-size:20px;font-weight: 700;color: #000;border-bottom: 1px solid #d7d7d7;border-radius: 0;}
.services-wrp .nav-pills .nav-link.active, .nav-pills .show>.nav-link {color: #ee8c3a;background-color: transparent;border-bottom: 1px solid #d7d7d7;}
.services-wrp .nav-link:last-child{border-bottom: none;}
.ac-form .btn-one{border:none;}
#m-sts{position: relative;}
.ar-st{position: absolute;border: solid #d7d7d7;border-width: 0 2px 2px 0;padding: 6px;right: 10px;top: 12px;transform: rotate(45deg);-webkit-transform: rotate(45deg);display: inline-block;}
.chngps{background: transparent;border:1px solid #39c3ef !important;padding-bottom: 0;color: #202020 !important;margin:0 45px 0 0 !important;transition: all 0.4s;}
.chngps:hover{border-color: #ee8c3a !important;}
input[type="date"] {position: relative;}
input[type="date"]:after {content: "";color: #555;padding: 0 5px;background-image: url('../images/clndr.png');background-repeat: no-repeat;-webkit-background-size: cover;background-size: cover;width: 25px;height: 25px;}
.typm input[type="text"]{position: relative;}
.dtp {position: absolute;content: "";color: #555;padding: 0 5px;background-image: url(../images/clndr.png);background-repeat: no-repeat;-webkit-background-size: cover;background-size: cover;width: 25px;height: 25px;right: 30px;top: 10px;}
.typm input:checked ~ .dtp{display: none;}
input[type="date"]::-webkit-calendar-picker-indicator {position: absolute;top: 0;left: 0;right: 0;bottom: 0;width: auto;height: auto;color: transparent;background: transparent;}
input[type="date"]::-webkit-inner-spin-button {z-index: 1;}
input[type="date"]::-webkit-clear-button {z-index: 1;}
.removeNow {display: none;}
.gov-id{border:1px solid #d7d7d7;padding: 20px;}
.gov-inner h6{font-weight: normal;color: #3a3a3a;margin: 0;padding-bottom: 30px;}
.demo-box{width: 100%;height: 250px;background: #d7d7d7;}
.upin{display: none;}
.upload label{color: #39c3ef;font-size: 18px;font-weight: 600;text-decoration: underline;cursor: pointer;}
.services-wrp{padding: 20px 0 75px 0;}
.edit-btn .chngps{width: 65px !important;height: 28px !important;line-height: 28px;border-radius: 4px;margin-right: 0 !important;}
.edit-btn{margin-top: -40px;text-align: right;}

/* --------------------------------------------------------------------------My-Application-page------------------------------------------------------------------ */

.table td, .table {border:none;}
.table td, .table th {border-top: none;}
.table thead th {border-bottom: 1px solid #d7d7d7;}
.application-content .edit-btn, .id-links .edit-btn {margin: 0;text-align: left;}
.application-content .edit-btn .chngps, .id-links .edit-btn .chngps{border-radius: 0;}
.application-content .edit-btn a{font-size: 13px;text-transform: capitalize;}
.rej{color: red;}
.gren{color: green;}
.table td{font-size: 18px;color: #3a3a3a;font-weight: normal;}
.tb-btn .btn-one{border:none;}
.tb-btn{padding-top: 90px;}

/* --------------------------------------------------------------------------lease-page------------------------------------------------------------------ */

.id-names{font-weight: normal;color: #3a3a3a;}
.stepwizard-step p {margin-top: 10px;}
.whidb{background: #fff;width: 90px;}
.stepwizard-step:first-child {padding-left: 0;}
.stepwizard-step:last-child {padding-right: 0;}
.stepwizard {width: 100%;position: relative;}
.stepwizard-step button[disabled] {opacity: 1 !important;}
.line-m{position: relative;}
.line-m:after {top: 22px;bottom: 0;position: absolute;content: " ";width: 100%;height: 1px;background-color: #ccc;z-index: -1;}
.stepwizard-step {text-align: center;position: relative;}
.tsc{color:#ee8c3a}
.lease-wrapper .btn {border-radius: 50%;background: transparent;border: 6px solid #d7d7d7;padding: 0;width: 45px;height: 45px;line-height: 35px;font-size: 18px;font-weight: 700;}
.lease-wrapper .btn-primary {color: #000;background-color: transparent;border-color: #ee8c3a;}
.lease-wrapper .btn-primary:hover {color: #000;background-color: transparent;border-color: #ee8c3a;}
.lease-wrapper .btn-primary.focus, .btn-primary:focus {box-shadow: none;}
.lease-wrapper .stepwizard-step p{color: #3a3a3a;font-weight: normal;}
.lease-wrapper .lease-content .keep-line{margin-bottom: 40px; margin-top: 55px;padding: 0 0 10px 0;}
.profes .keep-line {margin-bottom: 40px;margin-top: 20px;}
.lease-wrapper .btn-one{background: #39c3ef !important;border:none !important;color: #fff !important;line-height: 40px !important;border-radius: 0 !important;}
.in-contain{position: relative;}
.in-contain .mlr{cursor: pointer;padding: 8px;width: 15px;height: 15px;border: 1px solid #202020;margin: 0;}
.check:after {display: none;width: 4px;height: 11px;border: solid #ee8c3a;border-width: 0 2px 2px 0;position: absolute;content: '';padding: 2px;transform: rotate(45deg);left: 6px;top: 3px;}
.in-contain input[type = "checkbox"]:checked ~ .check::after{display: block;}
.text span{color: #3a3a3a;font-weight: normal;}.por{padding: 60px 0 30px 0;}
.lease-wrapper{padding: 0 0 75px 0;}

.custom-checkbox .custom-control-label::before {border-radius: 0;}
.custom-control-input:checked~.custom-control-label::before {color: #fff;border-color: #f18a3b;background-color: #ef8934;}
.income-type h6{font-size: 22px;color: #3a3a3a;font-weight: 500;margin-bottom: 20px;}
.circ-ch .custom-control-label::before {border-color: #f18a3b;}
.brsw .gov-id {padding: 5px 11px;}
.brsw .gov-inner h6 {padding-bottom: 0;line-height: 34px; color: #b7b7b7;}
.brsw  .upload label {margin: 0;line-height: 32px;}
#change-pass .close{display: block;}
#change-pass .modal-header {border-bottom: none;}
#change-pass .modal-body {padding: 25px 50px;}



/* --------------------------------------------------------------------------Insurance-page------------------------------------------------------------------ */


.box-in{border:1px solid #b7b7b7;}
.num-ren{display: inline-block;width: 35px;height: 35px;background: #ee8c3a;border-radius: 50%;text-align: center;line-height: 35px;font-weight: 600;font-size: 18px;color: #fff;position: absolute;top: -18px;left: 15px;}
.box-in{width: 270px;height: 110px;text-align: center;background: #fff;}
.box-in h5{line-height: 30px;position: absolute;left: 0;right: 0;top: 50%;transform: translateY(-50%);font-size: 22px;font-weight: 500;color: #202020;}
.mbt-auto{margin-bottom: 80px;padding-bottom: 50px;}
.dotteds, .dotts{position: relative;}
.dotteds:before{animation: dot-move 3s  alternate linear;}


.dotteds:before, .dotts:before{position: absolute;content: '';width: 80%;left: 50px;height: 1px;border: 1px dashed #ee8c3a;background: transparent;top: 56px;margin: 0 auto;}
.dotts:before{width: 64%;left: 110px;right: 0;}
.dotteds:after{position: absolute;content: '';width: 1px;right: 13%;height: 100%;border: 1px dashed #ee8c3a;background: transparent;bottom: 0;top: 58px;z-index: -1;}
.box-in{cursor: pointer;z-index: 1;transition: all 0.4s;}
.box-in:after{position: absolute;content: '';width: 100%;height: 100%;background: #39c3ef;transition: all 0.4s;transform:scaleX(0);left: 0;z-index: -1;}
.box-in:hover::after{transform: scaleX(1);}
.box-in:hover{box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);}
.box-in:hover h5{color: #fff;}

@keyframes dot-move{0%{width: 0%;}50%{width: 40%;}100%{width: 80%;}}
@-webkit-keyframes dot-move{0%{width: 0%;}50%{width: 40%;}100%{width: 80%;}}

.dotteds:after{animation: dothi 8s  alternate linear;}

@keyframes dothi{0%{height: 0%;}50%{height: 40%;}100%{height: 80%;}}
@-webkit-keyframes dothi{0%{height: 0%;}50%{height: 40%;}100%{height: 80%;}}

.renter-insurance{padding: 60px 0;}


.costums ul li a.active{color:#ee8c3a;}
.costums ul li a{position: relative;text-decoration: none;padding: 0 35px;}
.costums ul li a:after{position: absolute;content: '';width: 0;height: 2px;background: #ee8c3a;left: 0;bottom: -3px;transition: width 0.4s;}
.costums ul li a.active:after{width: 100%;}
.price-pin{width: 150px;height: 150px;background: #fff;border:1px solid #ee8c3a;border-radius: 50%;text-align: center;margin:0 auto;}
.ptxt span{font-size: 35px;font-weight: 500;color: #202020;display: inline-block;}
.ptxt small{font-size: 18px;color: #3a3a3a;font-weight: 400;}
.ptxt{position: absolute;left: 0;right: 0;top:50%;transform: translateY(-50%);}
.price-details{padding: 60px 0;}
.price-plans{padding: 45px 0 0 0;}
.qty{background: transparent;outline: none;border: none;font-size: 26px;color: #ee8c3a;font-weight: 500;}
.cart-qty-plus, .cart-qty-minus{background: transparent;border: none;font-size: 25px;font-weight: 500;color: #b7b7b7;}
.cart-qty-plus:focus, .cart-qty-minus:focus{border-color: transparent;outline: none;}
.qty{position: relative;}
.incr-box .dolr{position: absolute;left: 0;font-size: 26px;font-weight: 500;margin: 0;top: 40px;color: #ee8c3a;}
.button-container p{font-size: 26px;color: #ee8c3a;}
.re-gray{color: #b7b7b7;}
.re-title p{color: #3a3a3a;font-weight: normal;}
.re-title p a{color: #ee8c3a;}
.re-title p a:hover{color: #39c3ef;}
p{margin:0;}
.re-box{box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);padding: 40px 20px 25px 30px;min-height: 309px;}
.coverage{padding: 15px 0 70px 0;}
.re-content{padding: 70px 0;}
.serch{position: absolute;top: 48px;right: 35px;font-size: 18px;font-weight: normal;color: #b7b7b7 !important;background: transparent;border: none;cursor: pointer;}



.br-title{display: inline-block;position: relative;z-index: 1;padding: 0 15px;}
.br-lr{position: relative;}
.br-lr:after{left: 0;}
.br-lr:before{right: 0;}
.br-lr:after, .br-lr:before{position: absolute;content: '';width: 35%;background: transparent;border:1px solid #b7b7b7;top:12px;}
.abc{color: #39c3ef !important; cursor: pointer;}


.of-use p{color: #3a3a3a;line-height: 35px;}
.ac-bal{min-height: 421px;}
.keep-line {display: inline-block;padding-bottom: 10px;}
.ac-bal {padding-top: 20px;}
.ac-bal img{border:1px solid #ee8c3a;height: 421px;}
.ac-overview{margin-bottom: 25px;padding-bottom: 90px;}
.circle{margin: 0 auto;width: 110px;height: 110px;border:6px solid #ee8c3a;border-radius: 100%;position: relative;}
.circle:after{
    position: absolute;
    content: '';
    width: 15px;
    height: 40px;
    border: solid #ee8c3a;
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(49deg);
    -ms-transform: rotate(49deg);
    transform: rotate(49deg);
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    top: 26%;
    border-radius: 4px;
}

.payment-scfly{padding: 12% 0;}
.amount h2{margin: 0;position: relative;padding-bottom: 35px;}
.amount h2:after{position: absolute;content: '';width: 120px;height: 1px;bottom: 0;left: 0;right: 0;background: #d7d7d7;margin: 0 auto;}
.amount p{padding-top: 60px;}
.points li{position: relative;font-size: 18px;color: #3a3a3a;padding-left: 15px;padding-bottom: 20px;}
.points li:after{position: absolute;content: '';width: 7px;height: 7px;background: #ee8c3a;border-radius: 50%;left: 0;top: 10px;}
.nmes{font-size: 18px;color: #202020;font-family: 'Nunito Sans';font-weight: normal;}
.contact-details textarea{height: 100px !important;resize: none;}


/* --------------------------------------------------------------------------Media------------------------------------------------------------------ */

@media screen and (max-width:1199px)
{
    .cmsPages li a {font-size: 16px;}
    .contactBlock li {font-size: 16px;}
    .carousel-indicators {bottom: 70px;}
    .up-section {margin-top: -40px;}
}




@media screen and (max-width: 991px){

.links-controls > li a {font-size: 14px;}
.brand img {width: 75px;}
.bars, .close{display: block;cursor: pointer;}
.bars{cursor: pointer;}
.bars .fa-bars{font-size: 23px;color: #ee8c3b;}
.bars{display: block;background: transparent;outline: none;border: none;cursor: pointer;}
.nav-content{box-shadow: 21px 11px 13px rgba(0,0,0,0.1);background: #fff;margin-top: 20px;transition: all 0.4s;transform: scaleX(0);transform-origin: left;position: absolute;width: 100%;z-index: 99;left: 0;top: 48px;} 
.trims {transform: scaleX(1);}
.links-controls{flex-wrap: wrap;}
.links-controls li{width: 100%;}
.links-controls > li {padding: 1px 0;}
.links-controls > li a {color: #202020;}
.links-controls > li a.active {color: #ee8c3b;}
.header-wrapper .container-fluid{padding-right: 0;padding-left: 0;}
.close {z-index:2;text-shadow: none;color:#202020;opacity: 1;position: absolute;right: 9px;border-radius: 50%;border: 1px solid #ee8c3b !important;width: 25px;height: 25px;top: 10px;}
.nav-wraper{padding: 5px 15px;}
.links-controls > li a {text-align: left;}
.sub-menus ul li a{color:#000;}
.pading-left {padding-left: 15px !important;padding-right: 15px !important;}
.l-img{margin-bottom: 15px;}
.stats {padding: 0 0 0 15px;}
.policy ul{justify-content: center !important;}
.may-i .we-really-wrapper:after {display: none;}


.up-section {margin-top: 0;}
.links-controls > li a {padding: 0 2px;}
.links-controls > li {padding: 6px 0 5px 0;}
.shrink .links-controls > li {padding: 6px 0;}
.close {line-height: 23px;}
.nav-content {top: 65px;padding: 8px 15px 20px 15px;}
.carousel-indicators {bottom: 0;}
.green {width: 50%;}
.red-cross {width: 46px;}
.about-img:after {display: none;}
.team-info:after {width: 190px;height: 54px;}
.about-img-outer {right: 0px;width: 38%;}

.mid-mngmnt-img img {width: 375px;}

.mbt-auto {margin-bottom: 10px;padding-bottom: 10px;}
.dotteds:before, .dotts:before {display: none;}
.box-one .mx-auto, .box-one .ml-auto{margin:0 !important;}
.orderse{ms-flex-order: -1;order: -1;margin-bottom: 25px;}
/* .box-one{margin-bottom: 20px;} */
.dotteds:after {display: none;}

}


@media screen and (max-width:767px)
{
    .navBar ul {position: fixed;flex-direction: column;background-color: #fff;top: 0;left: -110%;height: 100%;z-index: 99;align-items: start !important;justify-content: start !important;box-shadow: 0 0px 5px rgba(0,0,0,0.5);width: 320px;padding: 20px 30px;transition: all 0.5s;}
    .navBar ul li {margin-bottom: 20px;position: relative;padding-left: 20px;}
    .navBar ul li::after {content: "";position: absolute;background-color: #39c4ef;width: 8px;height: 8px;left: 0;top: 9px;}
    .closeIcon {position: absolute;top: 10px;right: 20px;}
    .fa-remove::before, .fa-close::before, .fa-times::before {font-size: 22px;color: #ed8c3b;}
    .navBar ul.showMenus{left: 0;}
    .mobsignupBlock .fa-user::before, .mobsignupBlock .fa-bell::before {font-size: 22px;color: #ed8c3b;}
    .bnr-ttle {font-size: 35px;}
    .font20 {font-size: 16px;}
    .btn-one {width: 150px;}
    .banner-title-inner p {margin-bottom: 10px;}
    .green{display: none;}
    .about-img-outer{position: static;right: 0;width: 100%;}
    .names{margin-top: 25px;}

    .p-one {position: static;}
    .dsnone{display: none}
    .p-two {position: static;margin-bottom: 20px;}
    .mid-mngmnt-img{display: none;}
    .p-btm {position: static;margin-bottom: 20px;}
    .p-btmt {position: static;margin-bottom: 20px;}
    .edit-btn {margin-top: 0;text-align: left;margin-bottom: 24px;}
    .ac-form .keep-in-touch .pr-3{padding-right: 0 !important;}
    .ac-form .keep-in-touch .btn-one {width: 100%;}
    .renter-insurance .col-md-12{display: flex;}
    .box-one{margin: 0 auto;text-align: center;}
    .lease-content .pr-3{padding-right: 0 !important;}
    .lease-wrapper .por {padding: 20px 0 0px 0;}
    .lease-wrapper {padding: 0 0 15px 0;}
    .ac-overview {padding-bottom: 0;}
    .ac-overview .keep-line {margin-bottom: 0;margin-top: 15px;}
    .ac-overview .keep-line:after{display: none;}

}

@media (min-width: 576px){
    #login .modal-dialog, #signup .modal-dialog {max-width: 575px;}
    #login .modal-content, #signup .modal-content{padding: 0 40px;background-image: url(images/modal-bg.png);
    background-size: cover;
    background-position: top center;}
    #login .modal-header, #signup .modal-header{border-bottom: none;}
    #login  .nav-tabs {border-bottom: none;}
    #login .close, #signup .close{display: block;}
    
}

@media (max-width: 575px){
    .font22 {font-size: 18px;}
    .how-title h2 {font-size: 28px;}
    .font16 {font-size: 15px;}
    .font18{font-size: 16px;}
    .right-wrong li p {font-size: 16px;}
    .green:after {top:11px;}
    .green{width: 40px;display: block;height: 40px;}
    .red-cross {width: 39px;height: 39px;line-height: 39px;}
    .right-wrong li:first-child{margin-bottom: 15px;}
    .how-it-wrapper {padding: 20px 0 20px 0;}
    .how-it-wrapper .how-title .mb-5, .services-wrapper .how-title .mb-5{margin-bottom: 5px !important;}
    .services-inner {padding: 15px 0 0 0;}
    .title-ser{margin-bottom: 15px;}
    .feedback-wrapper {padding: 20px 0 20px 0;}
    .banner-title {top: 46%;}
    .bnr-bottom{margin-top: 30px;}
    .bnr-ttle {font-size: 28px;}
    .banner-title-inner p {margin-bottom: 10px;font-size: 13px;}
    .our-team-wrapper {padding: 15px 0 15px 0;}
    .contact-us-content .pr-3{padding-right: 0 !important;}
    .contact-us-content .keep-line {margin-bottom: 13px;margin-top: 15px;}
    .icons{padding-right: 10px !important;margin-right: 15px;}
    .about-wrapper {padding-bottom: 13px;}
    .of-use .pr-3{padding-right: 0 !important;}
    .pagi-inner ul li a{font-size: 14px !important;}
    .renter-insurance {padding: 20px 0;}
    .price-details {padding: 20px 0;}
    .price-plans {padding: 0px 0 0 0;}
    .coverage {padding: 0px 0 20px 0;}
    .coverage .py-5{padding: 0 15px !important}
    .re-content {padding: 20px 0;}
    .lease-content .pr-3{padding-right: 0 !important;}
    .lease-wrapper .btn-one {line-height: 27px !important;}
    .font100 {font-size: 70px;}
    .points li {font-size: 16px;}
}

@media (max-width: 480px){
.content-btm{margin-bottom: 15px;}
.btn-one {width: 110px;font-size: 12px;height: 40px;line-height: 40px;}
.row-name{flex-wrap: wrap;}
.col-name{width: 100% !important;height: 150px;}
.feedback-wrapper .owl-stage-outer{padding: 20px;}
.how-title h2 {font-size: 26px;}
.pr-btns{flex-wrap:wrap;}
.demo-box {height: 100px;}
.check-content .text .font18{font-size: 12px !important;}
.lease-wrapper .lease-content .keep-line {margin-bottom: 30px;margin-top: 30px;}
}


@media (max-width: 424px){
.carousel-indicators{display: none;}
.feedback-wrapper .how-title .mb-5{margin-bottom: 10px !important;}
.font35 {font-size: 23px;}
}

@media (max-width: 360px){
.brand img {width: 51px;}
.bnr-ttle {font-size: 18px;}
.banner-title-inner p {font-size: 12px;}
.nav-content {top: 41px;}
.shrink .brand img {width: 51px;}
}