<footer class="foterBg pt-4">
    <div class="container">
        <div class="row gradLine py-lg-5 py-3">
            <div class="col-md-4">
                <div class="social">
                    <p class="mb-0 colorWhite font16">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.</p>
                    <div class="font2 colorWhite font22 fontSemiBold footerTitle pb-2 mt-4">Follow Us On</div>
                    <ul class="d-flex align-items-center mt-3">
                        <li class="mr-2"><a href="javascript:;"><i class="allinone fb"></i></a></li>
                        <li class="mr-2"><a href="javascript:;"><i class="allinone twit"></i></a></li>
                        <li class="mr-2"><a href="javascript:;"><i class="allinone linke"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="font2 colorWhite font22 fontSemiBold footerTitle pb-2">Contact Info</div>
                <ul class="mt-3 contactBlock">
                    <li class="font18 colorWhite d-flex align-items-center mb-3"><i class="allinone map mr-2"></i>33
                        Nassau Ave Brooklyn, NY 11211</li>
                    <li class="font18 colorWhite d-flex align-items-center mb-3"><i
                            class="allinone phone mr-2"></i>516-707-3773</li>
                    <li class="font18 colorWhite d-flex align-items-center mb-3"><i
                            class="allinone mail mr-2"></i>info@mymatrixrent.com</li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="font2 colorWhite font22 fontSemiBold footerTitle pb-2">Useful Links</div>
                <ul class="mt-3 cmsPages">
                    <li><a href="javascript:;">Our Services</a></li>
                    <li><a href="javascript:;">Contact Us</a></li>
                    <li><a href="javascript:;">About Us</a></li>
                    <li><a href="javascript:;">Privacy Policy</a></li>
                    <li><a href="javascript:;">How to use</a></li>
                    <li><a href="javascript:;">Terms & Conditions</a></li>
                </ul>
            </div>
        </div>

        <div class="copyRight d-flex justify-content-center my-3">
            <p class="font16 colorWhite text-center">Copyright © matrix, 2019-2019</p>
        </div>
    </div>
</footer>