<header class="py-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2 col-md-12 col-8">
                <div class="logoBlock text-right text-md-center">
                    <img src="images/home/logo.jpg" alt="logo">
                </div>
            </div>
            <div class="col-lg-2 col-md-3 order-md-3 col-4">
                <div class="signupBlock text-right d-none d-md-flex">
                    <a class="signLink" href="javascript:;">Sign In</a>
                    <a href="javascript:;">Sign Up</a>
                </div>
                <div class="mobsignupBlock text-right d-md-none">
                    <a class="mr-3" href="javascript:;"><i class="fa fa-user" aria-hidden="true"></i></a>
                    <a href="javascript:;"><i class="fa fa-bell" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-8 col-md-9 order-md-2">
                <div class="navBar">
                    <ul class="d-flex align-items-center justify-content-center">
                        <li class="mr-4"><a href="javscript:;">Our Services</a></li>
                        <li class="mr-4"><a href="javscript:;">About Us</a></li>
                        <li class="mr-4"><a href="javscript:;">How To Use</a></li>
                        <li class="mr-4"><a href="javscript:;">Contact Us</a></li>
                        <div class="closeIcon d-md-none">
                            <a href="javascript:;"><i class="fa fa-times" aria-hidden="true"></i></a>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="menuToggle d-md-none">
                <a href="javascript:;"><i class="fa fa-bars" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</header>